<div class="login-form">
    <form action="/login" method="post">
        <div class="form-control">
            <label for="name">Username</label>
            <input type="text" name="id" id="id" placeholder="Enter your username" />
        </div>
        <div class="form-control">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
</div>